@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

/* Tokens do projeto */
@theme {
  /* Fontes */
  --font-primary: "Playfair Display", serif;

  /* Cores principais */
  --color-primary: #1a2b56;
  --color-accent: #002b99;
  --color-background: #f5f9fa;
  

  /* Cores auxiliares */
  

  /* Raios */


  /* Sombras */
  --shadow-soft: 0 18px 60px rgba(0, 43, 153, 0.12);
}